<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Wydatki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="apple-touch-icon" sizes="192x192" href="/icon.png">
    <link rel="manifest" href="/manifest.json" />
</head>

<body>
    <header>
        <h1>Wydatki</h1>
        <form action="/add" method="post">
            <input placeholder="Kremówki papieskie" autocomplete="off" name="name">
            <input id="value" autocomplete="off" placeholder="21.37" inputmode="decimal" type="number" step="0.01" name="value">
            <input type="date" name="date" value="{{ today }}">
            <button type="submit">Dodaj</button>
        </form>
    </header>
    <a href="/">Odśwież</a>
    {% for month_expenses in expenses %}
        <details{% if loop.first %} open{% endif %}>
        <summary>{{ month_expenses['month'] }} {{ month_expenses['year'] }}</summary>
	<p>
        <small>Stan: {{ month_expenses['income'] }} zł - {{ month_expenses['expenditure'] }} zł = {{ month_expenses['total'] }} zł</small>
	</p>
        {% for expense in month_expenses['items'] %}
	{% if expense.value < 0 %}
		<p>{{ expense.name }} (+ {{ -1 * expense.value }} zł)</p>
        {% else %}
		<p>{{ expense.name }} ({{ expense.value }} zł)</p>
        {% endif %}
        {% endfor %}
	</details>
    {% endfor %}
    <details>
	    <summary>Inne</summary>
	    <p>Cel osiągnięty w {{ "%.1f%%"|format(progress) }}.</p>
    </details>
    <footer>
        <p>
            <small>{{ random_quote }}</small>
        </p>
        <p>Made with ❤️ by Adrian Sadłocha.</p>
    </footer>
